* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-width: 0px;
  border-width: 0px;
  font-family: Roboto, Oxygen, sans-serif;
}

body {
  background-image: linear-gradient(180deg, rgb(255, 230, 0), rgb(255, 123, 0));
  min-height: 100vh;
}

#heading {
  font-size: 30px;
  font-weight: 800;
  text-align-last: center;
  padding: 30px;
}

#instructions {
  list-style: none;
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  transition: ease-in 200ms;
}
#instructions-container {
  width: 150vh;
  margin: auto;
}

#instructions:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#instructions li {
  font-weight: 600;
  font-size: 25px;
  padding: 7px;
}

#closing {
  font-weight: 800;
  font-size: 30px;
  padding: 30px;
  border-radius: 20px;
  color: red;
  background-color: white;
  text-align-last: center;
  transition: ease-in 200ms;
}

#closing:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#ok-btn {
  text-align: center;
  padding: 40px;
  transition: ease-in-out 300ms;
}

#ok-btn:hover {
  padding: 60px;
}

#ok-btn a {
  background-color: black;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: ease-in 200ms;
}

#ok-btn a:hover {
  background-color: white;
  padding: 30px;
  color: black;
  font-weight: 600;
  border-radius: 20px;
}
